@charset "utf-8"

*,
*:after,
*:before {
	box-sizing: border-box;
}

a {
	list-style-type: none;
}

body {
	margin: 0;
	font-family: HelveticaNeue;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
}

header .btn_contact {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	height: 80px;
	background: white;

}

header .lg_ttl {
	margin: 0 auto 0 0;
	padding: 0 30px;
	font-size: 28px;
	letter-spacing: 0.01em;
	color: #029ae2;
	line-height: 28px;
	font-weight: 1000;
}

header .lg_ttl > span {
	color: #30d0ed;
}

header .nav_inner {
	margin: 0 50px 0 0;
	padding: 0;
	display: table;
	vertical-align: middle;
}

header .nav_item {
	display: table-cell;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.05em;
	padding-right: 25px;
	padding-left: 25px;
}

header .nav_item a {
	text-decoration: none;
	color: #333;
}

header .info_btn_inner {
	display: inline-block;
	background: #30d0ed;
	width: 200px;
	height: 80px;
}

header .info_btn {
	display: block;
	color: white;
	padding: 26px 20px;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
}
.top_wrap .mv_bg {
	margin: 0;
/*	height: 670px;*/
	padding-top: 165px;
	padding-bottom: 200px;
	background: url(image/mv_bg-img.png);
	background-repeat: no-repeat;
	text-align: center;
}

.top_wrap .top_ttl {
	margin: 0;
	font-size: 140px;
	font-family: serif;
	line-height: 115px;
	letter-spacing: 0.025em;
	color: white;
	text-shadow: 0px 0px 8px #7798db;
}

.top_wrap .top_txt {
	margin: 0;
	padding-top: 40px;
	font-size: 25px;
	line-height: 36px;
	letter-spacing: 0.1em;
	color: white;
		text-shadow: 0px 0px 2px #7798db;
}
.news {
	background: #edfcff;
}
.news .news_inner {
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	width: 1200px;
}
.news .news_ttl {
	display: inline;
	flex: 1;
}
.news  h2{
	margin: 0;
	font-weight: 1000;
	font-size: 40px;
	color: #019bdf;
}
.news p {
	margin: 0;
	color: #333;
}
.news .news_items {
	list-style-type: none;
	margin-left: 40px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	vertical-align: text-bottom;
	display: flex;
	flex-direction: column;
	flex: 9;
}
.news .news_item {
	margin-top:  15px;
	padding-bottom:  10px;
/*	height: 30px;*/
	border-bottom: 1px solid #93deff;
}
.news .time {
	display: inline-block;
	margin-right: 30px;
		font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.075;
}
.news .category {
	text-align: center;
	font-size: 10px;
	display: inline-block;
	margin-right: 30px;
	width: 80px;
	height: 18px;
	background: #019bdf;
	vertical-align: middle;
}
.news .news_item_txt {
	display: inline-block;
	margin: 0;
	color: #333;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: 0.075;
}
.service {
	margin-top: 78px; 
}
.service .service_inner {
margin: 0 auto;
	width: 1200px;
	text-align: center;
}
.service h2 {
	margin: 0 0 0px 0;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 0.025;
	color: #019bdf;
}
.service p {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.075;
	color: #019bdf;
	font-weight: bold;
}
.service_items {
	display: flex;
	margin-top:10px;
	justify-content: space-between;
}
.service_items .service_item {
	height: 380px;
	width: 380px;
	background: #e8e8e8;
}